.workspace-button {
    min-width: 2.5em;
    font-weight: bold;
    color: #ccc;
    transition-duration: 100;
    border: 1px;
    border-color: #ccc;
    padding: 2px;
}

.workspace-button:outlined {
    padding: 1px;
    border: 2px solid white;
    background: #222;
}

.workspace-row-indicator {
    width: 1.2em;
    -active-color: #fff;
    -inactive-color: #888;
}

.workspace-button:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}

.workspace-dialog-label {
    font-size: 9pt;
    color: white;
}

.workspace-dialog-entry {
    font-size: 10.5pt;
    font-weight: bold;
    width: 23em;
    color: white;
}

.workspace-dialog {
    border-radius: 16px;

    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}
